.column {
    display: flex;
    flex-direction: column;
    float: left;
}

.flex-container > div {
    background-color: #FFFF66;
    border-style: dot-dot-dash;
    width: 260px;
    margin: 10px;
    text-align: center;
    line-height: 60px;
    font-size: 18px;
    font-weight: bold;

}


.flex-container > div > a:any-link {
    text-decoration: none;
}

.flex-container > div > div > a:any-link {
    text-decoration: none;
}

.flex-container > div > a:hover {
    text-decoration: underline;
}

.flex-container > div > div > a:hover {
    text-decoration: underline;
}

.flex-container > div:nth-child(10) {
    line-height: 20px;
}


.row {
    display: flex;
    flex-direction: row;
    float: right;
    overflow-y: visible;
    max-height: 740px;
}


.text > h1 {
    text-align: center;
    color: darkred;
}

.text {
    text-align: justify-all;
    margin-left: 3%;
    margin-right: 3%;
    color: blue;
    font-weight: bold;
    line-height: 30px;
    font-size: large;
}

.index{
    text-align: center;
    margin-left: 3%;
    margin-right: 3%;
    color: blue;
    font-weight: bold;
    line-height: 30px;
    font-size: large;
}

.contact{
    text-align: center;
    font-style: italic;
    margin-left: 3%;
    margin-right: 3%;
    color: darkred;
    font-weight: bold;
    line-height: 30px;
    font-size: small;
}

.contact a:any-link {
    text-decoration: none;
}

.contact a:hover {
    text-decoration: underline;
}

#contentFrame {
    align-items: center;

}

.img {
    align-items: center;
    width: 100%;
    height: 400px;
    background: url("2.jpg")no-repeat;
    display: inline-block;
    border-color: #FFFF66;
    border-style: dot-dot-dash;
}

.img:hover {
    align-items: center;
    width: 98%;
    height: 400px;
    background: url("1.jpg");
    display: inline-block;
}

.gauss {
    display:block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 300px;
    background: url("3.jpg")no-repeat;
}

.gauss:hover {
    display: block;
    width: 40%;
    height: 300px;
    background: url("4.png");
}

.externalLinks > a{
    text-align: left;
    font-style: italic;
    color: darkred;
    font-weight: bold;
    line-height: 30px;
    font-size: small;
}

.externalLinks a:any-link {
    text-decoration: none;
}

.externalLinks a:hover {
    text-decoration: underline;
}

.flex-container > div:nth-child(11) {
    background: none;
    padding-top: 34%;
}


